Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-braces-around-statements,
  readability-redundant-declaration,
  readability-misleading-indentation,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -modernize-use-nodiscard,
  -bugprone-easily-swappable-parameters,
  -bugprone-invalid-enum-default-initialization,

WarningsAsErrors: '*'

HeaderFilterRegex: 'engine/.*'

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
